/* Testimonials Section Styles */
.testimonials-section {
    padding: 60px 0px;
    text-align: right;
    margin-right: 0px;
  }
  
  .testimonials-title {
    font-size: 2rem;
    font-family: 'Varela Round', sans-serif;
    color: #333;
    margin-bottom: 40px;
  }
  
  /* Testimonials Grid */
  .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 60px;
    max-width: 1000px;
    margin-left: 200px;
  }
  
  .testimonial {
    background-color: #c088ff05;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
  }
  
  .testimonial strong {
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
  }